%custom-posts {
	border: none;
	border-radius: 5px;
	background: #FFF5CB;
	color: $gray-dark;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
	text-align: center;
	letter-spacing: 0.1em;
	font-size: 1.5em;
}

article.post {
	border-bottom: 2px solid $blue;
	background: rgb(39, 50, 68);
	padding: 30px;
	margin-bottom: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	@include responsive (md) {
		padding: 20px;
	}
	@include responsive (sm) {
		padding: 8px;
	}
	&:first-of-type {
		margin-top: 4%;
	}
	&:last-of-type {
		border-bottom: none;
	}
}

.post {
	@extend %clearfix;
	&__title {
		margin-top: 0;
		margin-bottom: 3px;
		font-size: 190%;
		line-height: 30px;
		a {
			color: $blue;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
	&__subtitle {
		color: #989898;
		font-size: 87%;
		margin-top: 0;
		a {
			color: #A9A9A9;
		}
	}
	img {
		max-width: 100%;
		height: auto;
	}
	&.post-aside {
		@extend %custom-posts;
	}
	&.post-link {
		position: relative;
		@extend %custom-posts;
		background: #E0EBFF;
		padding: 0;
		a {
			display: block;
			padding: 20px;
			color: $blue;
		}
		&::before {
			content: "link";
			position: absolute;
			top: -11px;
			left: -18px;
			transform: rotate(-30deg);
			font-size: 150%;
			background: tomato;
			color: $white;
			padding: 15px;
		}
	}
	&.post-gallery {
  		background: darkgray;
  		border: none;
  		img {
  			border: none !important;
  		}
	}
}

.post-gallery__title {
  text-align: center;
  color: red;
}
.mini-meta {
	font-size: 68%;
	margin: 0;
	padding: 0;
	text-align: left;
}