.comment-body {
	p {
		margin-left: 53px;
		color: $black;
	}
}

.comment.even {
	background: #eee;
}

.comment.odd {
	background: yellow;
}

.comment-author, .comment-meta {
	background: $gray-dark;
}

.comment-author {
	color: tomato;
}

.comment-meta {
	padding-left: 53px;
	a:link, a:visited {
		color: #eee;
	}
}

ol.commentList {
	padding-left: 0;
}

.comment {
	list-style-type: none;
	margin-bottom: 2%;
}
.comment .children {
	background: #273244;
	list-style-type: none;
}