.comment-body {
	p {
		margin-left: 30px;
		color: $black;
		padding: 25px 0;
	}
}

.comment.even {
	background: #eee;
}

.comment.odd {
	background: #84BBF9;
}

.comment-author, .comment-meta {
	background: $gray-dark;
	padding-left: $comment-padding-default;
	a:link, a:visited {
		color: #eee;
	}
}

.comment-author {
	padding-top: $comment-padding-default;
	color: $white;
}

.comment-meta {
	padding-bottom: $comment-padding-default;
}

ol.comment-list {
	padding-left: 0;

}

.comment {
	list-style-type: none;
	margin-bottom: 2%;
	color: $gray-dark;
	h1, h2, h3, h4, h5, h6 {
		margin-left: 30px;
	}
	.fn {
		font-size: 28px;
		margin-left: 1%;
		a:link, a:visited {
			text-decoration: none;
			color: $white;
			&:hover {
				text-decoration: underline;
				color: $blue;
			}
		}
	}
	.says {
		font-size: 22px;
		margin-left: 0.5%;
		color: tomato;		
	}
}
.comment .children {
	background: #273244;
	list-style-type: none;
}

a.comment-reply-link {
	color: $white;
	margin-left: 30px;
	text-decoration: none;
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding: 0 15px;
	&:hover {
		color: $gray-dark;
		border-left: 1px solid $gray-dark;
		border-right: 1px solid $gray-dark;
	}
}

.bypostauthor > .comment-body {
	background: tomato;
}

.bypostauthor .says::after {
	content: "Author";
	margin-left: 2%;
	background: #eee;
	padding: 5px;
	font-size: 16px;
	position: relative;
	top: -23px;
}

.bypostauthor .reply {
	background: $white;
}

.reply {
	background: tomato;
	padding: 4px 0;
}

.bypostauthor a.comment-reply-link {
	color: $gray-dark;
	border-left: 1px solid $gray-dark;
	border-right: 1px solid $gray-dark;
	&:hover {
		color: $blue;
		border-left: 1px solid $blue;
		border-right: 1px solid $blue;
	}
}