footer {
	width: 100%;
	@extend %bg-blue;
	font-size: $large-font-size;
	padding: 0 0 2em;	
	clear: both;
	.footer {
		width: 1140px;
		margin: 0 auto;
		@extend %clearfix;
		@include responsive(md) {
			width: 100%;
			height: 100%;
		}
		@include responsive(xs) {
			line-height: 1.5;
		}
		h5 {
			float: left;
			margin: 0;
			text-align: center;
			margin-left: $margin-social-mobile;
			@extend %mute-link;
			@include responsive(xs) {
				float: none;
				padding-top: 3%;
			}
		}
	}
}

.info-box {
	float: right;
	padding: 3em;
	border: 1px solid red;
}