.hd-search {
	float: right;
	margin-top: 1em;
	input[type="text"] {
		color: $blue;
		background: $gray-light;
		border: none;
	}
	input[type="submit"] {
		color: white;
		background: $gray-dark;
		border: 1px solid #273244;
		padding: 3px;
	}
	label {
		position: absolute;
		left: -99999px;
	}
}

// COMMENTS
.comment-form {
	background: #E4E4E4;
	color: $black;
	padding: 20px;
	.comment-notes {
		margin-top: 0;
	}
	.form-submit {
		margin-bottom: 0;
	}
}

form#commentform {
	width: 100%;
}

.comment-reply-title {
	margin-bottom: 0px;
	background: $bgcolor-primary none repeat scroll 0% 0%;
	color: $white;
	padding: 20px;
	font-size: 150%;

	a {
		text-decoration: none;
	}
}

#cancel-comment-reply-link {
	font-size: 16px;
	color: red;
	text-decoration: underline;
}

// FORMS

%form-width {
	width: 600px;
	margin: 0 auto;
	@include responsive(xs) {
		width: 100%;
	}
}

form {
	border: 2px solid $gray-dark;
	background: $gray-light;
	padding: 15px;
	@extend %form-width;
	span {
		display: block;
	}
	label {
		color: $gray-dark;
		width: 48%;
		@include responsive(xs) {
			width: 100%;
		}
	}
	textarea {
		width: 100%;
		height: 100px;
		resize: none;
		label {
			clear: both;
		}
	}
	input, textarea {
		border: 2px solid $blue;
		padding: 5px;
		color: $gray;
		width: 100%;
		&:active, &:focus {
			border: 2px solid $gray-dark;
		}
	}
	.input__group {
		@extend %clearfix;
		margin-bottom: 15px;
		label {	
			float: left;
			&:nth-of-type(2) {
				float: right;
			}
		}
	}
	outline-color: $gray-dark;
	input[type="submit"] {
		display: block;
		margin-top: 10px;
		width: 25%;
		background: $white;
		color: $gray-dark;
		padding: 10px;
		@include responsive (sm) {
			width: 50%;
		}
		@include responsive (xs) {
			width: 60%;
		}
	}
}

.input__text--intro {
	@extend %form-width;
	h2 {
		text-align: center;
		letter-spacing: 0.05em;
	}
}

.widget-item {
	form {
		max-width: 100%;
	}
}

// form plugin
.cpp_form {
	@extend %clearfix;
	.pbSubmit {
		margin: 0;
		background: $blue;
	}
}