.hd-search {
	float: right;
	margin-top: 1em;
	input[type="text"] {
		color: $blue;
		background: $gray-light;
		border: none;
	}
	input[type="submit"] {
		color: white;
		background: $gray-dark;
		border: 1px solid #273244;
		padding: 3px;
	}
	label {
		position: absolute;
		left: -99999px;
	}
}

.comment-form {
	background: $white;
	color: $black;
	padding: 20px;
	.comment-notes {
		margin-top: 0;
	}
	.form-submit {
		margin-bottom: 0;
	}
}

.comment-reply-title {
	margin-bottom: 0px;
	background: white none repeat scroll 0% 0%;
	color: #00A21E;
	padding-left: 20px;
	font-size: 200%;
	padding-top: 20px;
	a {
		text-decoration: none;
	}
}

#cancel-comment-reply-link {
	font-size: 16px;
	color: red;
	text-decoration: underline;
}
