.widget-title {
	font-style: $font-roboto;
	font-size: 20px;
	color: $blue;
	margin: 0 0 5%;
}

.widget-item {
	padding: 10px 0;
	border-bottom: 1px solid $white;
	ul {
		padding-left: 0;
	}
	li {
		margin-bottom: 2%;
		@extend %clean-list;
		.post-date {
			color: rgb(224, 235, 255);
			display:block;
		}
	}
	&:last-child {
		border: none;
	}
	&:first-child {
		margin-top: 20px;
	}
}

#searchform {
	input[type="submit"] {
		background: $blue;
		border: 0;
		width: 50%;
	}
}
